/* Header CSS START */
.App {
  width: 100%;
  height: auto;
  padding: 1%;
}

.iconDetails {
  margin-left: 2%;
  float: left;
  height: 40px;
  width: 40px;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.text-left {
  margin-left: 60px;
}

h4 {
  font-family: sans-serif;
  margin: 5px;
}

.App-link {
  width: auto;
  height: 100vh;
  background-color: #d5f4fb;
}

/* HEADER CSS END */

/* UserList */

.App-User {
  float: left;
  margin-top: 10px;
  margin-left: 3%;
  background-color: white;
  width: 50%;
  height: 50%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
}

.List-bar {
  margin-left: 3%;
}

.search {
  width: 75%;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid rgb(153, 150, 145);
}

.btn-cls {
  color: white;
  text-align: center;
  font-size: 12px;
  /* margin: 0px -1px; */
  margin-left: 30%;
  margin-top: 5px;
  padding: 10px 20px 8px 20px;
  text-decoration: none;
  background-color: rgb(47, 47, 174);
  border-radius: 5px 5px 5px 5px;
  border: none;
  cursor: pointer;
}

.User-List {
  margin-top: 10px;
  display: flex;
  border: 1px solid black;
  width: auto;
  height: 180px;
  border: 1px solid rgb(154, 153, 152);
}
/* datares */
.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(9, 9, 9, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem:hover {
  background-color: lightgrey;
}

/* User Card */

.users-list {
  background: #fff;
  margin-left: 20px;
  margin-right: 50px;
  flex-grow: 0.2;
  height: 25vh;
  box-sizing: border-box;
  margin-top: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow-y: scroll;

  position: absolute;
}

.users-list::-webkit-scrollbar {
  display: none;
}

.users-item {
  color: rgb(0, 0, 0);
  width: 300px;
  margin: 10px;
  height: 30px;

  background-color: #fefefe;
  border-radius: 5px;
  position: relative;
  border: 1px solid rgb(141, 132, 132);
}

.users-item:hover {
  background-color: lightgrey;
}

.users-name {
  padding: 0 10px;
  margin-top: 5px;
  position: relative;
}

span {
  right: 10px;
  position: absolute;
}
